body{
	margin: 0;
	font-family: miller-banner, serif;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 25px;
}

header{
	background-color: #E3453C;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50PX;
}

h1, h2{
	font-family: 'mason-sans', sans-serif;
	font-weight: 400;
	font-style: normal;
}

header h1{
	color: white;
	font-size: 50px;
	font-style: bold;
}

header img {
	border-radius: 170px;
	width: 300px;
	border: 10px solid #9B5050;
}


main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 35px;
	color: #EB0000;
}

a{
	color: #EB0000;
}
a:hover{
	color: #523737;
}

footer{
	background-color: #E3453C;
	text-align: center;
	color: white;
	padding: 50px
}
footer p{
	margin: 0;
}
footer a{
	color: white;
}

footer a:hover{
	opacity: .5;
	background-color: transparent;
}








